extends ./layout/index

block contenido
    main.container.mt-5
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen" class="img-fluid")
            .col-md-7
                h1= pagina 
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque suscipit neque a ex consequat lacinia. In gravida dui et elit egestas, in hendrerit mi faucibus. Praesent sollicitudin velit arcu, cursus scelerisque magna tincidunt non. Nulla ullamcorper posuere diam id bibendum. Morbi iaculis vitae nisl cursus gravida. Aenean sit amet semper lacus. Ut sed tristique mauris, quis convallis ligula. Sed mauris nunc, sollicitudin sed dui non, consectetur ultricies risus. Donec aliquam id eros sit amet condimentum. Etiam vitae lacus ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                
                p In pharetra justo eu felis congue luctus. Integer pharetra, lectus nec sollicitudin tristique, diam metus sodales urna, quis sagittis ipsum magna et quam. Integer tincidunt felis eget vehicula fringilla. Aenean ac velit at justo consequat porta. Ut nisi lorem, porttitor sed leo id, venenatis euismod elit.

                p Nullam elementum vitae massa vitae faucibus. Aenean eu elit quis sapien aliquam semper vitae nec dui. Integer congue, sapien id commodo feugiat, felis erat dignissim ipsum, vitae aliquet nunc nulla vitae tellus. Quisque eu enim pellentesque, condimentum nisi ut, bibendum lorem. Suspendisse sed cursus dolor.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg" alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Integer congue, sapien id commodo feugiat, felis erat dignissim ipsum, vitae aliquet nunc nulla vitae tellus.
                .col-md-4
                    img(src="img/icono_destinos.svg" alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Integer congue, sapien id commodo feugiat, felis erat dignissim ipsum, vitae aliquet nunc nulla vitae tellus.
                .col-md-4
                    img(src="img/icono_precios.svg" alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4  Los Mejores Precios
                    p Integer congue, sapien id commodo feugiat, felis erat dignissim ipsum, vitae aliquet nunc nulla vitae tellus.